#scansbox{
 overflow: hidden;
}




video {
  width: calc(100%);
  height: calc(100%);
 
  margin-bottom: 250px;
  position: relative;
  bottom: 290px;
 

 
}

@media(max-width: 800px){
  video{
    bottom: 320px;
  }



}
canvas{
  width: calc(100%);
  height: calc(100%);
 
}

#interactivescan{
  width: calc(100%);

}

.onscanner{

  z-index: 3;
  width: auto;
  height: 18em;
  position: relative;

 
  
  top: 6em;
 
  animation-name: image;
  animation-duration: 3s;
  left: 41%;

  
  


}


.onscanner2{
  z-index: 3;
  width: auto;
  height: 18em;
  position: relative;
  top: 6em;
 
  animation-name: image;
  animation-duration: 3s;


}

@keyframes image{

  0%{
    opacity: 0%;
  }

  15%{
    opacity: 50%
  }

  30%{
    opacity: 90%
  }

  45%{
    opacity: 50%;
  }

  60%{
    opacity: 10%;
  }


  75%{
    opacity: 50%
  }

  100%{
    opacity: 100%;
  }





}



@media (max-width: 1200px) {
  .onscanner { 
    bottom: 12%;
    
    
   
    left: 12em;
    margin-right: 10em;
    
      
    }
  }



@media(max-width: 569px) {
  .onscanner { 
 


  
 left: 5%;
     
      
    }

  


  


  #addedna{

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    position: relative;
   
    z-index: 5;

  
  }
  @media(max-width: 700px){

    #scansmap{
    top: 46vh;
      
    }
  
  
  }
}

  #scansmap{
   
      
    position: relative;
    top: 43vh;

display: none;
flex-direction: row;
justify-content: center;
color: white;
align-items: center;
border: none;
border-radius: 40px;
width: 150px;
height: 60px;

background-color: #232323;

z-index: 5;
animation-name: image;
margin: 0;







    
  }

.scansbuttonb{
z-index: 6;
position: relative;
height: 60px;
width: 150px;
border-radius: 65px;
border: none;
background-color: #232323;
color: white;
left: 29%;
top: 14em;
display: flex;

}
.mapicon{
  color: white;
}

.mapicon{
  color: white;

}
#linkmap{
  color: white;
}



#mapofbut{
  color: white;
}

  @media(max-width: 800px){

    #scansmap{
      display:flex;
   
    }
    #addedna{
      display: flex;
    }

    .scansbuttonb{
      display: inline-block;
    }
  
  
  }
#imgbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}