

.login > div > img {
    object-fit: contain;
    height: 150px;
}

.login > div {
    display: flex;
    flex-direction: column;
   
}

.login {
    display: grid;
    place-items: center;
    height: 100vh;

     background-color: #044A59;
    
    

}

.login > button {
    width: 300px;
    height: 60px;
    background-color: #c6cacf;
    color: #eff2f5;
    font-weight: 800;
    border-radius: 10px;

}

.login > button:hover {
    background-color: white;
    color: rgb(67, 67, 255);
}

#formbox{
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

#fname{
    height: 30px;
    width: 405px;
    margin: 10px;
    border: none;
  background: transparent;
  border-bottom: 2px solid #E5E8F1;
  outline: none;
  margin-bottom: 60px;


    
}


#hname{
  
    border: none;
    background: transparent;
    border-bottom: 2px solid #E5E8F1;
    outline: none;
    background-color: white;
    margin-right: -4px;
    margin-left: -4px;
 

    
   

}



#name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 485px;
    height: 100px;
    margin-top: 30px;
    background-color: white;
}

#logoimg{

    margin-bottom: 60px;
    width: 60px;
    margin-left: 222px;
   
}

#but{

    margin-right: 325px;
    height: 38px;
    width: 90px;
    border: none;
    border-radius: 5px;
    color: white;
}

#signup{
    background-color: white;
    margin-right: 275px;
    color: #526BA2;
    font-weight: 400;
}

#auser{
    color: #8C9DC3;
    margin-top: 20px;
    background-color: white;
    margin-right: 255px;

}

#singl{
    background-color: white;
    color: #5871A7;
}