



.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #044A59;
    
    

}



.authother{
    position: relative;
   bottom: 240px;
   
}
#logsbox{overflow: hidden;}



@media(max-width: 800px){
    .authother{
        margin-top: 60px;
    }
}
    


#formbox h1{
    color: white;
  
   
}

#formbox h5{
    color: white;
}

#singl{
    color: red;
}
.login > button {
    height: 40px;
    width: 466px;
   margin: 10px;
  
    color: #eff2f5;
    font-weight: 800;
    border-radius: 10px;

}




#formbox button{
    height: 40px;
    width: 60vw;
    max-width: 405px;
   margin: 10px;
   background-color: #BF505A;
}

.login > button:hover {
    background-color: white;
    
    width: 466px;
   margin: 10px; 
   width: 466px;
  margin: 10px;;
}

#formbox{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;
}



@media(max-width: 800px){

    #formbox{
        width: 100%;


    }

   
}


#fname{
    height: 40px;
    width: 80vw;
    max-width: 405px;
    margin: 10px;

    border: none;


    
}





#name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 425px;
    height: 100px;
    margin-top: 30px;
 }

#logoimg{

    margin-bottom: 60px;
    width: 60px;
    margin-left: 222px;
   
}

#but{

    margin-right: 325px;
    height: 38px;
    width: 90px;
    border: none;
    border-radius: 5px;
    color: white;
}

#signup{
    
    margin-right: 307.5px;
    color: white;
    font-weight: 400;
}

#auser{
    color: white;
    margin-top: 20px;
 
    margin-right: 255px;

}

#singl{
   
    color: white;
}

#name input{
    height: 40px;
 
    
   
    margin-bottom: -10px;
}

.input2{
    height: 60px;
  
    width: 60vw;
    max-width: 405px;
    margin: 10px;

}

#formbox input{
    height: 40px;
    width: 60vw;
    max-width: 405px;
   margin: 10px;



}

#buttonsup{
    height: 40px;
    width: 60vw;
    max-width: 405px;
   margin: 10px;
}





@media(max-width: 600px){
    #name{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
    }


    #name input{
        width: 28.5vw;

    }


    


    #signup{
        margin-right: 181px;
    }
   
    #auser{
        margin-right:125px;
    }
   


    
}
