
.scannerContainer {
  
  width: calc(100vw);
  height: calc(100vh);
  margin: 0 auto;
  overflow: hidden;
 

  
 

}

.scanshouse{
  height: 100vh;
  width: 100vw;
}



.scannerCam{
  position: relative;
  bottom: 37.9px;
 
}



.btn-scan {
  width: 50vw;

  height: 5em;
  font-size: 25px;
  font-weight: 600;
  
  background: #BF505A;
  border: 1px solid rgb(98, 101, 105);
border-radius: 10px;
margin-bottom: 15%;

}
.btn-scan:hover {
  border: 1px solid #e27b84;
  background: rgb(225,225,225);
  animation: enable 0.3s ease-in-out;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.invalid {
  text-align: center;
  margin-top: 150px;
}
.invalid h1 {
  font-weight: 600;
}

.barcodeimg{

  
  margin-top: 100px;
  display:flex;
  margin-left: 5px;
  
  height: 100px;
  width: 200px;
  margin-bottom: 75px;
  
}

.scannedpage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.openbookboxofscan{
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  
}

.openbookofscan{
  display: none;
    flex-direction: row;
    justify-content: center;
    color: white;
    align-items: center;
    border: none;
    border-radius: 40px;
    height: 60px;
    width: 150px;
    background-color: #232323;
    margin-bottom: 20px;
    z-index: 5;
    
    

}

.mapicon{
 position: relative;
 right: 35px;
 margin-right: -22px;
}


@media (max-width: 800px) {
  .barcodeimg { 
        display: flex;
    }
   
  }

.divMargin{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  }

  .geoerror{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
  }

  .geoerror h1{
    margin-bottom: 100px;
  }