.btn-scan-again {
  margin-bottom: 30px
}
td {
  font-weight: 600
}
.product-img{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.product-img img{
  width: 200px;
  height: 300px;
  margin-bottom: 20px;


}
#scan-again2{
  height: 80px;
  width: 200px;
  border-radius: 100px;
  color: white;
  margin: 15px;
  background-color: #BF505A;
 


}

.product-nav{
  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 0px;



}

.fixp{
  border: 0px black solid;



}

#descriptionbook{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 

}

#addlink{
  color: white;

}

.imgshelf{
  margin-bottom: 20px;
}

.shelfpage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#buttonaddednav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  background-color: #BF505A;
  height: 50px;
  width: 110px;
  border-radius: 6px;
  color: white;
margin: 10px;
border: none;

 


}


@media (max-width: 800px) {
 #buttonaddednav { 
        display: none;
    }
  }
  
  #addednav{
    position: fixed;
    bottom: 0px;
  }
  

.addedbook{
  background-color: #004958;
  height: 100vh;
}

#addednav{
 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
  margin-top: 0px;
  width: 100%;

}

.openbookofscan{
  color: white;
  text-decoration: none;
}

#tableback{
  width: 100%;
  background-color: #F1EAFF;
  


}

#fullpageproduct{
  width: 100%;
  background-color: #F1EAFF;
  height: 75vh;
}


#openbookofscan2{
  background-color: #C14F5A;
  margin-left: 15px;
  
}
