.nav-bot{
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;



   
    text-align: center;

}

#scan-item{
    height: 60px;
    width: 30%;
    border-radius: 100px;
    color: white;
    margin-bottom: 15px;
    background-color: #BF505A;
    margin-right: 6px;
    margin-left: 6px;
  
  
}

#map-box{
    width: 100%;
   
    margin: 0px;
    z-index: -1;
   
    height: 100vh;
 
}

.special{
    position: fixed;
    bottom: 0px;
}

.mapimg{
    height: 80px;
    width: auto;
 
   margin-right: 10px;
   margin-bottom: 10px;
   z-index: 5
 
}
.imgob{
    border-radius: 8px;
}

.nearbybooks{
    height: 60vh;
    background-color: white;
    width: 100%;
}

.googlemapsapi{
    width: 100%;
}

.mainfull{
    width: 100%;
    background-color:  white;
}

#booksid{
    margin-left: 23px;
  
}

.books-sect2{
    background-color: white;
    display: grid;
    justify-items: center;
 
    grid-template-columns: repeat(4, 1fr);
   

    
   
}




@media (max-width: 1232px){
    .books-sect2{
        grid-template-columns: repeat(4, 1fr)
    }




}


@media (max-width: 950px){
    .books-sect2{
        grid-template-columns: repeat(3, 1fr)
    }




}



@media (max-width: 630px){
    .books-sect2{
        grid-template-columns: repeat(2, 1fr)
    }




}


@media (max-width: 800px) {
    .books-sects { 
          flex-direction: row;
      }
    }
    


    


.openbookbox{
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;

}

.openbook{
    display: none;
    flex-direction: row;
    justify-content: center;
    color: white;
    align-items: center;
    border: none;
    border-radius: 999px;
    height: 60px;
    width: 60px;
    background-color: #BF505A;
    margin-right: 40px;
    

}

.openbook:active{
    color: white;
}

.openbook:focus{
    color: white;
}

.openbook2{
    display: none;
    flex-direction: row;
    justify-content: center;
    color: white;
    align-items: center;
    border: none;
    border-radius: 999px;
    height: 60px;
    width: 60px;

    background-color: #044A59;
    margin-right: 25px;
}




/*

<nav className="nav-bot">

                
<Link  id="scan-item" to="/scan"><h3><AddIcon /></h3></Link>
<Link   id="scan-item" to="/history"><h3><HistoryIcon /></h3></Link>
<Link  id="scan-item" to="/books"><h3><LibraryBooksIcon /></h3></Link>

</nav>

*/

.book4main{
    background-color: white;
    z-index: 1;
  
  

}

.booksidl{
    background-color: white;

}

#booksidl{
    background-color: white;
    margin-bottom: 0px;
    margin-left: 28px;
}



@media (max-width: 800px) {
    .openbook { 
          display: flex;
      }

      .openbook2{
          display: flex;
      }

      .openbookofscan{
          display: flex;
      }
    }

.mapimgmap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}