.nav-bot{
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;



   
    text-align: center;

}

#scan-item{
    height: 60px;
    width: 30%;
    border-radius: 100px;
    color: white;
    margin-bottom: 15px;
    background-color: #BF505A;
    margin-right: 6px;
    margin-left: 6px;
  
  
}

#map-box{
    width: 100%;
   
    margin: 0px;
    z-index: -1;
   
  
 
}

#map-box2{
    width: 100%;
   
    margin: 0px;
    z-index: -1;
   
    height: 100vh;

}

#map-box1{
    width: 100%;
   
    margin: 0px;
    z-index: -1;
   
   
 

}
.butnav:focus{
    outline: none;
    border: none;
}

.butnav:active{
    outline: none;
    border: none;
}

.butnav{
    outline: none;
    border: none;
}
.special{
    position: fixed;
    bottom: 0px;
}

.mapimg{
    height: 80px;
    width: auto;
 
   margin-right: 10px;
   margin-bottom: 10px;
   z-index: 5
 
}
.imgob{
    border-radius: 8px;
}

.nearbybooks{
    height: 100vh;
    background-color: white;
    width: 100%;
}

.googlemapsapi{
    width: 100%;
    height: 30%;
}

.mainfull{
    width: 100%;
    height: 100%;
    background-color:  white;
}

#booksidl{
    margin-left: 23px;
  
}

.books-sect2{
    background-color: white;
    display: grid;
    justify-items: center;
 
    grid-template-columns: repeat(8, 1fr);
   

    
   
}




@media (max-width: 1232px){
    .books-sect2{
        grid-template-columns: repeat(8, 1fr)
    }




}


@media (max-width: 950px){
    .books-sect2{
        grid-template-columns: repeat(6, 1fr)
    }




}



@media (max-width: 630px){
    .books-sect2{
        grid-template-columns: repeat(3, 1fr)
    }




}




@media (max-width: 360px){
    .books-sect2{
        grid-template-columns: repeat(2, 1fr)
    }




}

@media (max-width: 800px) {
    .books-sects { 
          flex-direction: row;
      }

     
    }
    


    


.openbookbox{
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;

}

.openbook{
    display: none;
    flex-direction: row;
    justify-content: center;
    color: white;
    align-items: center;
    border: none;
    border-radius: 999px;
    height: 60px;
    width: 60px;
    background-color: #BF505A;
    margin-right: 40px;
    

}

.openbookbox > button:active{
    outline: none;

}

.openbook:active{
    color: white;
}

.openbook:focus{
    color: white;
}

.openbook2{
    display: none;
    flex-direction: row;
    justify-content: center;
    color: white;
    align-items: center;
    border: none;
    border-radius: 999px;
    height: 60px;
    width: 60px;

    background-color: #044A59;
    margin-right: 25px;
}






/*

<nav className="nav-bot">

                
<Link  id="scan-item" to="/scan"><h3><AddIcon /></h3></Link>
<Link   id="scan-item" to="/history"><h3><HistoryIcon /></h3></Link>
<Link  id="scan-item" to="/books"><h3><LibraryBooksIcon /></h3></Link>

</nav>

*/

.book4main{
    
    background-color: white;
    z-index: 1;
   
   
 
    
 
  
  

}

.booksidl{
    background-color: white;
    

}

#booksidl{
    background-color: white;
    margin-bottom: 0px;
    margin-left: 11px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 900px;
    font-size: 1.8em;
 
}


@media(max-width: 900px){

    #booksidl{
        left: 23px;
    }
}


@media(max-width: 1200px){

    
    #booksidl{
        left: 32px;
    }
}


@media (max-width: 800px) {
    .openbook { 
          display: flex;
      }

      .openbook2{
          display: flex;
      }

      .openbookofscan{
          display: flex;
      }
      #booksidl{
          position: relative;
          left: 0px;
      }

      .openbookbut{
          display: flex;
      }
    }

.mapimgmap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mainnbook{
    height: 100vh;
}

.searchboxbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 5;
    margin: 0;
    position: relative;
    top: 4em;
    height: 0px;
  
    
}



.searchbox{
    width: 320px;
    height: 50px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 4px 6px 6px #00000016;
    margin-bottom: 15px;

    
}




.searchbox > i {
    font-size: 17px;
    color: #777;
    margin-right: 2px;
    background-color: white;
    height: 40px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
  
    justify-content: center;
    position: relative;
    left: 0.5em;
    width: 30px;
   

}




.allbooks{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 900px;
    font-size: 2.5em;
}

.searchbox > input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;

}

.openbookbut{
display: none;
    flex-direction: row;
    justify-content: center;
    color: white;
    align-items: center;
    border: none;
    border-radius: 999px;
    height: 60px;
    width: 60px;
    background-color: #BF505A;
    margin-right: 40px;
}

#openbookbutid:active{
    outline: none;
    border: none;
}


#openbookbutid:focus{
    outline: none;
    border: none;
}